{% extends 'base.html.twig' %}

{% block title %}Welcome to We Movies{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container mt-5">
        <!-- Header Section -->
        

        <!-- Video Section -->
        <div class="video-thumbnail">
            {% if bestMovieVideoKey %}
                <iframe width="800" height="400" src="https://www.youtube.com/embed/{{ bestMovieVideoKey }}" title="{{ bestMovie.original_title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% else %}
                <img src="https://image.tmdb.org/t/p/w500/{{ bestMovie.poster_path }}" alt="{{ bestMovie.original_title }}" style="width: 600px; height: 350px;">
            {% endif %}
            <h4>{{ bestMovie.original_title }} - Bande-annonce</h4>
            <p class="overview">{{ bestMovie.overview }}</p>
        </div>

        <!-- Row for Sidebar and Movies -->
        <div class="row mt-4">
            <!-- Sidebar for Genres -->
            <div class="col-md-3 sidebar">
                <h5>Genres</h5>
                {% for genre in genres %}
                    <div class="form-check">
                        <input class="form-check-input genreCheckbox" type="checkbox" id="{{ genre.id }}" value="{{ genre.id }}">
                        <label class="form-check-label" for="{{ genre.name }}">{{ genre.name }}</label>
                    </div>
                {% endfor %}
            </div>

            <!-- Movies List (Smaller Cards) -->
            <div class="col-md-6 offset-md-1 movies-list">
    {% for movie in movies %}
        <div class="movie-card d-flex">
            <img src="https://image.tmdb.org/t/p/w300/{{ movie.poster_path }}" alt="{{ movie.original_title }}" class="movie-img">
            <div class="movie-info">
                <h5>{{ movie.title }}</h5>
                <p class="overview">{{ movie.overview }}</p>
                <p class="star-rating">
                    {{ movie.vote_average | number_format(1, '.', '') }}
                    {% for i in 1..5 %}
                        <i class="fa fa-star{% if i > movie.vote_average / 2 %}-o{% endif %}"></i>
                    {% endfor %}
                    <small>({{ movie.vote_count }} votes)</small>
                </p>
                <a href="#" movie-video-key="{{ movie.video_key }}" movie-desc="{{ movie.overview }}" movie-image="{{movie.poster_path}}" movie-rate="{{movie.vote_average}}" movie-name="{{movie.title}}" movie-id="{{movie.id}}" class="btn btn-primary btn-details detailsFilm">Lire le détails</a>
            </div>
        </div>
    {% endfor %}
</div>

<!-- Pagination Controls -->
<div class="pagination mt-4"></div>


        </div>
    </div>

    {% include 'home/modalFilm.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
